<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Chat Room</title>
        <script type="text/javascript" src="/js/welcome.js"></script>
    </head>
    <body>

    <div>

        <h2 align="center">Welcome to Chatzer!</h2>
        <h3 align="center">Get in on the conversation.</h3>
        <hr style="height: 2px; border:none; color: #333; background-color:#333; width: 750px"/>

        <div align="center" style="margin:20px">
        <form action="/createChannel" method="get">
            <div>
                <input type="submit" value="Create a new channel"/>
            </div>
        </form>
        </div>
        <div align="center">
        <form action="/channels" method="get">
            <input type="submit" value="Join a channel"/>
        </form>

        </div>
        <p align="center"><strong>Create</strong> a new channel or <strong>Join</strong> an existing one!</p>
    </div>



    </body>



</html>